#projeto{
    background: url(../assets/img/projeto.webp);
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        .btn{
            width: 40%;
            display: grid;
            place-items: end center;
            button{
                width: 181px;
                height: 44px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 0 1rem;
                background: transparent;
                color: $color3;
                border: 1px solid $color2;
                border-radius: 13px;
                svg{
                    width: 20px;
                    height: auto;
                }
            }
        }
        .text{
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem 0;
            .img-fundo{
                display: none;
            }
            .title{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: .5rem 0;
                h2{
                    font-size: 28px;
                }
                p{
                    width: fit-content;
                    padding: 5px 15px;
                    border-radius: 18px;
                    color: #008DFF;
                    background: #fff;
                    opacity: 1;
                }
            }
            p{
                font-size: 14px;
                line-height: 22px;
                opacity: .9;
            }
        }
    }
}
@media(max-width: 800px){
    #projeto{
        background: #07070B;
        .container{
            width: 100%;
            flex-direction: column-reverse;
            align-items: center;
            gap: 2rem 0;
            .btn{
                width: auto;
            }
            .text{
                width: 100%;
                .title{
                    width: 80%;
                    align-items: center;
                    text-align: center;
                }
                .img-fundo{
                    display: block;
                    width: 100%;
                }
                p{
                    width: 80%;
                }
            }
        }
    }
}